.collection-list {
  flex-wrap: wrap;
}

.product-card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 32px;
  height: 100%;
}

.product-image-wrapper {
  padding-top: 120%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.swiper-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  user-select: none;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  object-fit: cover;
}

.product-card-title {
  position: relative;
  margin: 16px 0;
}
.product-card-title h3 {
  padding-right: 20px;
}
.product-card-title .add-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}
.product-card-title .add-button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  border-radius: inherit;
}
.product-card-title .add-button .plus::after, .product-card-title .add-button .plus::before {
  content: "";
  width: 8px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 6px;
  background: currentColor;
}
.product-card-title .add-button .plus::before {
  transform: rotate(90deg);
}

.product-card-title:hover .add-button {
  color: #fff;
  background-color: #000;
}

.product-card-sizes {
  display: none;
}

.product-card-title:hover .product-card-price {
  display: none;
}

.product-card-title:hover .product-card-sizes {
  display: block;
}