.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}
@media screen and (max-width: 749px) {
  .header {
    position: static;
  }
}

.header-inner {
  height: 72px;
  align-items: center;
  border-bottom: 1px solid;
}
@media screen and (max-width: 749px) {
  .header-inner {
    display: none;
  }
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}